# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\flavi\OneDrive\Documentos\_datos\UAB\Cuart curs\Disseny de Software\Practica_DS\codelab_timetracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
